<!--<=if signed_in?%>
enter code for challenge page -->
<!-- < else %> -->

	<div class = "center hero-unit">

	<h1> This is the Sign in Page </h1>

	<h2> This is where I will put some facebook login api</h2>

	<%= link_to "Click here to simulate facebook API log-in button", challenge_path, class: "btn btn-large btn-primary"%>
	</div>
<!--<end%> -->